h1 {
	font-family:"Century Gothic", sans-serif;
	font-size: 400%;
}

body {
	background: url(/images/woodBkgd.jpg);
	background-repeat: no-repeat;
	width: 1100px;
	margin: 0 auto;
}

img {
	margin: 10px;
	border: 13px solid blue;
}

p {
	font-family: "Times New Roman", Serif;
	text-align: justify;
	margin: 10px auto;
}